html,body,.door,.page{height: 100%;overflow: hidden;}
body{font-size: .35rem;}
.door{width: 100%;background: #fff url(../img/m_door_bg.png) center no-repeat;background-size: cover;position: absolute;left: 0;top: 0;z-index: 999;}
.title_name,.title_tips{color: #fff;font-size: 0.6rem;text-align: center;margin-top: 40%;}
.title_tips{margin-top: 30px;font-size: 0.5rem}
@media (min-width:480px) {
	.title_name{margin-top: 35%;}
}
@media (min-width:830px) {
	.title_name{margin-top: 25%;}
}
.up_ico{width: 110px;height: 50px;background: url(../img/info_dis_slideup.png) center no-repeat;position: absolute;left: 50%;margin-left: -55px;bottom: 15px;background-size: cover;animation: fade 1500ms ease-in infinite;-webkit-animation: fade 1500ms ease-in infinite;}
.main{height: 100%;background-color: #6e83b2;}
.temp{font-size: 0.6rem;color: #fff;text-align: center;line-height: 100%;height: 100%;padding-top: 30%;}
.main p.temp.on{-webkit-animation: fz 0.5s;animation: fz 0.3s;}
@-webkit-keyframes fz{
	0%{-webkit-transform: scale(1);}
	50%{-webkit-transform: scale(1.5);}
	100%{-webkit-transform: scale(1);}
}
@keyframes fz{
	0%{transform: scale(1);}
	50%{transform: scale(1.5);}
	100%{transform: scale(1);}
}

/* 预加载动画样式 */
.spinner {
  margin: 100px auto;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -45px;
  margin-left: -45px;
  text-align: center;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #67CF22;
  border-radius: 100%;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes fade{
	0%{opacity: .8}
	50%{opacity: .4}
	100%{opacity: .8}
}
keyframes fade{
	0%{opacity: .8}
	50%{opacity: .4}
	100%{opacity: .8}
}
.swiper-slide a img{max-width: 100%;height: 185px;}
.swiper-pagination{width: 100%;bottom: 0;}
.swiper-pagination span{margin: 0 5px;}