<!doctype html>
<html>    
<head>
<title>angularjs $http 表格中显示数据</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
<script src="../js/Angular.js"></script>      
<style>
	table, th , td {
	  border: 1px solid grey;
	  border-collapse: collapse;
	  padding: 5px;
	}
</style>   
</head>    
<body>
	<div ng-app="myApp" ng-controller="customersCtrl">
		<table>
			<tr ng-repeat="x in names | orderBy:Country">
				<td ng-if="$odd" style="background-color: #f1f1f1;">{{$index + 1}}</td>
				<td ng-if="$even">{{$index + 1}}</td>
				<td ng-if="$odd" style="background-color: #f1f1f1;">{{x.Name}}</td>
				<td ng-if="$even">{{x.Name}}</td>
				<td ng-if="$odd" style="background-color: #f1f1f1;">{{x.Country | uppercase}}</td>
				<td ng-if="$even">{{x.Country | uppercase}}</td>
			</tr>
		</table>
	</div>
	<script>
		var app = angular.module('myApp',[]);
		app.controller('customersCtrl',function($scope,$http){
			$http.get('http://localhost/AngularJS/Customers_JSON.php').
			success(function(response){
				$scope.names = response.records;
			})
		})
	</script>
</body>
</html>