@charset "utf-8";
body{max-width: 640px;margin: 0 auto;}
.globalWrap{padding: 0 5px;}
.viewport{max-width: 640px;min-width: 300px;margin: 0 auto;}
.nav_log,.nav_form .search_btn span,.nav_classic span{background: url(../img/jd-sprites.png) no-repeat;display: block;background-size: 200px 200px;}
.jd-head{width: 100%;background-color: #eee;border-bottom: 1px solid #ccc;overflow: hidden;position: relative;width: 100%;min-height: 44px;}
.navBar{}
.nav_log{background-position: 0 0;width: 20px;height: 15px;position: absolute;left: 12px;top: 12px;}
.nav_form{margin-left: 40px;margin-right: 10px;}
.form_wrap{width: auto;margin-right: 32px;margin-top: 7px;height: 30px;border-radius: 5px;background-color: #fff;border: 1px solid #ccc;}
.form_wrap input{border: none;width: 80%;margin-left: 5px;height: 1.5em;display: block;line-height: 1.5em;margin: 5px 0 0 10px;color: #666;}
.nav_form .search_btn{position: absolute;right: 42px;top: 7px;width: 30px;height: 30px;background-color: #eee;border-radius: 0 5px 5px 0;border: 1px solid #ccc;border-left: none;}
.nav_form .search_btn span{display: block;text-indent: -100px;background-position: -83.5px 0;width: 14px;height: 14px;overflow: hidden;margin: 7px 7px 0;}
.inp_wrap{margin-right: 28px;width: auto;}
.clasic_wrap{position: absolute;right: 0px;top: 0px;display: block;width: 44px;height: 40px;}
.nav_classic span{text-indent: -100px;overflow: hidden;width: 20.5px;height: 29.5px;margin: 8px 0 0 10px;background-position: -2px -30px;} 

.banner{margin-top: 8px;padding: 3px;}
.imgWrap ul li img{max-width: 640px;height: auto;min-width: 320px;width: 100%;}
.ban_top{margin-bottom: 10px;}
.ban_bottom ul li{text-align: center;float: left;width: 25%;height: 50px;}
.ban_bottom ul li span{display: block;margin-top: 5px;}
.ban_bottom ul li a{position: relative;display: block; }
.ban_bottom ul li:nth-child(1) a:after,.ban_bottom ul li:nth-child(2) a:after,.ban_bottom ul li:nth-child(3) a:after,.ban_bottom ul li:nth-child(5) a:after,.ban_bottom ul li:nth-child(6) a:after,.ban_bottom ul li:nth-child(7) a:after{content: "";width: 1px;height: 28px;position: absolute;right: -1px;top: 6px;background-color: #ccc;}
