@charset "utf-8";
#G-lightbox-mask{position: fixed;width: 100%;height: 100%;background-color: #000;opacity: .5;filter: alpha(opacity=50);z-index: 10000;left: 0;top: 0;display: none;}
*html #G-lightbox-mask{position: absolute;}
#G-lightbox-popup{position: fixed;left: 50%;top: 50%;z-index: 10001;display: none;}
*html #G-lightbox-popup{position: absolute;}
.lightbox-pic-view{position: relative;border: 5px solid #fff;border-radius: 3px;overflow: hidden;background: url(../img/loading.gif) center no-repeat #fff;}
.lightbox-pic-view .lightbox-btn{position: absolute;top: 0;width: 40%;height: 100%;z-index: 1;cursor: pointer;background: url(../img/transparent.png);}
.lightbox-pic-view .lightbox-prev-btn{left: 0;}
.lightbox-pic-view .lightbox-next-btn{right: 0;}
.lightbox-pic-view .lightbox-prev-btn.lightbox-prev-btn-show{background: url(../img/prev.png) left center no-repeat;}
.lightbox-pic-view .lightbox-next-btn.lightbox-next-btn-show{background: url(../img/next.png) right center no-repeat;}
.lightbox-pic-view .lightbox-image{width: 100%;display: block;}
#G-lightbox-popup .lightbox-pic-caption{position: relative;background: url(../img/opacity.png);margin: 0 5px;margin-top: -60px;}
.lightbox-caption-area{color: #fff;padding: 10px 5px;}
.lightbox-of-index{color: #999;}
.lightbox-close-btn{position: absolute;right: 10px;top: 13px;width: 27px;height: 27px;background: url(../img/close.png) no-repeat;cursor: pointer;z-index: 2;}
.lightbox-pic-view .disabled{display: none;}