@charset "utf-8";
@-webkit-keyframes opacity_scn1{
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
}

@-webkit-keyframes tbtSayHi{
	0%{opacity: 0;}
	20%{opacity: 0}
	40%{opacity: 0}
	60%{opacity: .1}
	80%{opacity: .2}
	100%{opacity: 1;}
}

@-webkit-keyframes bottomArrow{
	0%{opacity: 1;-webkit-transform: translateY(0)}
	50%{opacity: .5;-webkit-transform: translateY(5px)}
	100%{opacity: .2;-webkit-transform: translateY(10px)}
}

@-webkit-keyframes cloudMove{
	0%{-webkit-transform: translateX(-190px)}
	100%{-webkit-transform: translateX(320px)}
}

@-webkit-keyframes scale1{
	0%{-webkit-transform: scale3d(.3,.3,.9);opacity: 0;}
	100%{opacity: 1;}
}

@-webkit-keyframes circleCity{
	0%{-webkit-transform: rotate(60deg);opacity: 0;}
	100%{opacity: 1;}
}

@-webkit-keyframes opacityText{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-webkit-keyframes rabitRun{
	0%{  background-position: 0 0; }
    4.2%{  background-position: -309px 0; }
    8.4%{  background-position: -618px 0; }
    12.6%{  background-position: -927px 0; }
    16.8%{ background-position: -1236px 0;  }
    21%{ background-position: -1545px 0;  }
    25.2%{ background-position: -1854px 0;  }
    29.4%{ background-position: -2163px 0;  }
    33.6%{  background-position: -2472px 0; }
    37.8%{  background-position: -2781px 0;  }
    42%{ background-position: -3090px 0;   }
    46.2%{  background-position: -3399px 0;  }
    50.4%{  background-position: -3708px 0;  }
    54.6%{  background-position: -4017px 0;  }
    58.8%{  background-position: -4326px 0;  }
    63%{  background-position: -4635px 0;  }
    67.2%{  background-position: -4944px 0;  }
    71.4%{  background-position: -5253px 0;  }
    75.6%{  background-position: -5562px 0;  }
    79.8%{  background-position: -5871px 0;  }
    84%{  background-position: -6180px 0;  }
    88.2%{  background-position: -6489px 0;  }
    92.4%{  background-position: -6798px 0;  }
    96.6%{  background-position: -7107px 0;  }
    100%{  background-position: 0 0;  }
}

@-webkit-keyframes cityBg{
	0%{  background-position: 0 0; }
    4.2%{  background-position: -309px 0; }
    8.4%{  background-position: -618px 0; }
    12.6%{  background-position: -927px 0; }
    16.8%{ background-position: -1236px 0;  }
    21%{ background-position: -1545px 0;  }
    25.2%{ background-position: -1854px 0;  }
    29.4%{ background-position: -2163px 0;  }
    33.6%{  background-position: -2472px 0; }
    37.8%{  background-position: -2781px 0;  }
    42%{ background-position: -3090px 0;   }
    46.2%{  background-position: -3399px 0;  }
    50.4%{  background-position: -3708px 0;  }
    54.6%{  background-position: -4017px 0;  }
    58.8%{  background-position: -4326px 0;  }
    63%{  background-position: -4635px 0;  }
    67.2%{  background-position: -4944px 0;  }
    71.4%{  background-position: -5253px 0;  }
    75.6%{  background-position: -5562px 0;  }
    79.8%{  background-position: -5871px 0;  }
    84%{  background-position: -6180px 0;  }
    88.2%{  background-position: -6489px 0;  }
    92.4%{  background-position: -6798px 0;  }
    96.6%{  background-position: -7107px 0;  }
    100%{  background-position: 0 0;  }
}

@-webkit-keyframes textFade_s3{
	0%{opacity: 0;}
	50%{opacity: .15}
	100%{opacity: 1;}
}