@charset "utf-8";
body{background-color: #ccc;}
.globalWrap{background-color: #ccc;height: 100%;position: relative;}
.viewport{height: 100%;position: absolute;overflow: auto;left: 0;top: 0;width: 100%;}
.screen_1{height: 100%;position: relative;background: linear-gradient(to bottom,rgba(78,170,200,1),rgba(249,141,97,1));}
.tbtSayHi{width: 143px;padding: 10px;border-radius: 10px;background: rgba(247,251,208,0.24);color: #fff;position: relative;left: 15px;top: 30px;line-height: 20px;font-size: 16px;box-sizing: content-box;}
.tbtSayHi h2{-webkit-animation: 1.8s tbtSayHi linear;}
.tbtSayHi h2 span{font-size: 36px;}
.tbtSayHi img{position: absolute;right: 30px;bottom: -30px;}
.opacity_scn1{-webkit-animation: opacity_scn1 0.8s ease-in-out;}
.screen_1 figure{position: absolute;right: 0;bottom: 0;z-index: 11;}
.screen_1 figure img{width: 16.66rem;}
.bottomArrow{position: absolute;bottom: 0;left: 0;width: 100%;z-index: 10;text-align: center;-webkit-animation: bottomArrow .5s linear infinite alternate;}
.bottomArrow img{width: 45px;}
.screen_1 .scrBg{position: absolute;bottom: -4px;left: 0;width: 100%;}
.screen_1 .scrBg img{width: 100%;}
.screen_1 .cloud{position: relative;margin-top: 40px;}
.screen_1 .cloudAnimate{-webkit-animation: cloudMove 10s linear infinite;}
.screen_1 .cloud img{opacity: .15;position: absolute;}
.screen_1 .cloud img:nth-of-type(1){width: 62px;left: 15px;bottom: -80px;}
.screen_1 .cloud img:nth-of-type(2){width: 106px;left: 80px;bottom: -50px;}

.screen_2{background: linear-gradient(0,rgba(78,170,200,1),rgba(249,141,97,1));height: 100%;position: relative;}
.screen_2 .common{height: 100%;overflow: hidden;position: relative;}
.screen_2 .scr_top{margin: 40px auto 15px;width: 292px;color: #fefbe2;font-size: 16px;line-height: 20px;}
.screen_2 .scr_top span{font-size: 18px;}
.screen_2 .scr_center{position: absolute;background: rgba(247,251,208,0.24);width: 278px;height: 278px;border-radius: 139px;padding: 20px;left: 50%;top: 50%;margin-left: -139px;margin-top: -139px;}
.screen_2 .innerCircle{background: rgba(247,251,208,0.24);width: 238px;height: 238px;border-radius: 119px;position: relative;}
.screen_2 .innerCircle img:nth-of-type(1){width: 150px;margin: 0 auto;display: block;padding-top: 44px;}
.screen_2 .innerCircle img:nth-of-type(2){width: 32px;position: absolute;right: 78px;top: 105px;}
.screen_2 .circleCity{position: absolute;left: 20px;top: 10px;}
.screen_2 .circleCity img{width: 238px;}
.bottomText{position: absolute;bottom: 40px;left: 0;text-align: center;color: #fff;font-size: 16px;width: 100%;line-height: 20px;}

.screen_2 .animate .scr_center{-webkit-animation: scale1 1s ease-out 1s backwards;}
.screen_2 .animate .innerCircle{-webkit-animation: scale1 1.5s ease-out 1s backwards;}
.screen_2 .animate .earth{-webkit-animation: scale1 2.5s ease-out 1s backwards;}
.screen_2 .animate .circleCity{-webkit-animation: circleCity .3s ease-out 2.5s backwards;}
.animate .bottomText{-webkit-animation: opacityText 1.5s 3.5s backwards;}
.screen_2 .animate .innerCircle .tz{-webkit-animation: scale1 1s ease-out 1s backwards;}

.screen_3{height: 100%;position: relative;background: linear-gradient(to bottom,rgba(78,170,200,1),rgba(249,141,97,1));}
.screen_3 .rabitRun{width: 309px;height: 364px;background: url(http://img.to8to.com/wap/weixin/run.png) 0 0 no-repeat;-webkit-transform: scale(.65);position: absolute;bottom: -30px;left: 50%;margin-left: -150.45px;z-index: 10;}
.screen_3 .animate .rabitRun{-webkit-animation: rabitRun 650ms step-start infinite;}
.screen_3 .cityBg{background: url(http://img.to8to.com/wap/weixin/bg.png) 0 0 no-repeat;width: 100%;height: 61px;position: absolute;bottom: 80px;}
.screen_3 .animate .cityBg{-webkit-animation: cityBg 3500ms step-start infinite;}
.screen_3 .tips{padding-top: 50px;text-align: center;color: #fcfce5;}
.screen_3 .tips p{font-size: 26px;font-weight: bolder;margin-bottom: 5px;}
.screen_3 .tips span{font-size: 16px;margin-top: 33px;display: block;}
.screen_3 .cloud img{height: 106px;position: absolute;z-index: 1;opacity: .15;left: 45px;top: 100px;}
.screen_3 .animate .cloud img{-webkit-animation: cloudMove 10s linear infinite;}
.screen_3 .animate .tips p{-webkit-animation: textFade_s3 4000ms forwards;}
.screen_3 .animate .tips p:nth-of-type(1){-webkit-animation: textFade_s3 1600ms forwards;}
.screen_3 .animate .tips p:nth-of-type(2){-webkit-animation: textFade_s3 2000ms forwards;}
.screen_3 .animate .tips p:nth-of-type(3){-webkit-animation: textFade_s3 2400ms forwards;}
.screen_3 .animate .tips span{-webkit-animation: textFade_s3 2000ms forwards;}

.screen_4{background: linear-gradient(to bottom, rgba(231,142,81,1) 0%,rgba(249,115,100,1) 100%);height: 100%;overflow: hidden;position: relative;}
.screen_4 .text_s4{text-align: center;color: #fff;font-size: 16px;line-height: 20px;margin: 32px 0;}
.screen_4 .s4_wrap{position: relative;}
.screen_4 .circle_s4{width: 191px;height: 191px;border-radius: 95.5px;background-color: rgba(247,251,208,0.24);position: absolute;position: absolute;left: 50%;top: 50%;margin-left: -95.5px;margin-top: -95.5px;-webkit-transform: scale(1.15);text-align: center;}
.screen_4 .animate .text_s4 p:nth-of-type(1){-webkit-animation: textFade_s3 1600ms forwards;}
.screen_4 .animate .text_s4 p:nth-of-type(2){-webkit-animation: textFade_s3 2000ms forwards;}
.screen_4 .animate .text_s4 p:nth-of-type(3){-webkit-animation: textFade_s3 2400ms forwards;}
.screen_4 .circle_s4 .rabit_s4 img{width: 134px;margin-top: 32.2px;}
.screen_4 .animate .circle_s4{-webkit-animation: scale1 800ms ease-out backwards;}
.screen_4 .animate .rabit_s4 img{-webkit-animation: scale1 1000ms ease-out backwards;}
.screen_4 .circle_s4 .s4_ico1,.screen_4 .circle_s4 .s4_ico2,.screen_4 .circle_s4 .s4_ico3,.screen_4 .circle_s4 .s4_ico4,.screen_4 .circle_s4 .s4_ico5,.screen_4 .circle_s4 .s4_ico6{background: url(http://img.to8to.com/wap/weixin/p4.png) no-repeat;position: absolute;background-size: 74px;}
.screen_4 .circle_s4 .s4_ico1{left: -20px;top: 0;width: 74px;height: 42px;background-position: 0 0;}
.screen_4 .circle_s4 .s4_ico2{right: -20px;top: 0;width: 74px;height: 42px;background-position: 0 -55px;}
.screen_4 .circle_s4 .s4_ico3{left: -25px;top: 80px;width: 74px;height: 42px;background-position: 0 -157px;}
.screen_4 .circle_s4 .s4_ico4{right: -49px;top: 80px;width: 74px;height: 42px;background-position: 0 -112px;}
.screen_4 .circle_s4 .s4_ico5{left: -21px;bottom: -41px;width: 75px;height: 77px;background-position: 0 -203px;}
.screen_4 .circle_s4 .s4_ico6{right: -20px;bottom: -50px;width: 74px;height: 77px;background-position: 0 -288px;}
.screen_4 .circle_s4 .s4_ico1{-webkit-animation: scale1 1000ms ease-out 1000ms backwards;}
.screen_4 .circle_s4 .s4_ico2{-webkit-animation: scale1 1000ms ease-out 1300ms backwards;}
.screen_4 .circle_s4 .s4_ico3{-webkit-animation: scale1 1000ms ease-out 1600ms backwards;}
.screen_4 .circle_s4 .s4_ico4{-webkit-animation: scale1 1000ms ease-out 1900ms backwards;}
.screen_4 .animate .s4_ico5,.screen_4 .animate .s4_ico6{-webkit-animation: scale1 400ms ease-out 400ms backwards;}

.screen_5{background: linear-gradient(to bottom, rgba(251,114,98,1) 0%,rgba(29,188,202,1) 100%);height: 100%;overflow: hidden;position: relative;}
.screen_5 .text_s5{text-align: center;color: #fcfce5;font-size: 16px;line-height: 20px;margin: 32px 0;}
.screen_5 .animate .text_s5 p:nth-of-type(1){-webkit-animation: textFade_s3 1600ms forwards;letter-spacing: 1.8px;}
.screen_5 .animate .text_s5 p:nth-of-type(2){-webkit-animation: textFade_s3 2000ms forwards;}
.screen_5 .animate .text_s5 p:nth-of-type(3){-webkit-animation: textFade_s3 2400ms forwards;letter-spacing: 2px;}
.screen_5 .animate .text_s5 p:nth-of-type(4){-webkit-animation: textFade_s3 2800ms forwards;}
.screen_5 .rabit_s5{width: 270px;height: 214px;margin: 32% auto;position: relative;-webkit-transform: scale(1.15);}
.screen_5 .rabit_s5 em{background: url(http://img.to8to.com/wap/weixin/p5.png) no-repeat;display: block;width: 148px;height: 148px;background-size: 148px;position: absolute;-webkit-transform-orgin: 50% 50% 50%;}
.screen_5 .rabit_s5 em.s5_pr1{background-position: 0 0;left: 0;top: 0;z-index: 2;-webkit-animation: prmove_left 1000ms linear;}
.screen_5 .rabit_s5 em.s5_pr2{background-position: 0 -148px;top: 50px;right: 0;-webkit-animation: prmove_right 1500ms linear;}
.screen_5 .rabit_s5 span{position: absolute;padding: 0 15px;height: 27px;line-height: 27px;color: #ef572a;text-align: center;font-weight: bold;font-size: 14px;background-color: rgba(255,255,255,0.8);}
.screen_5 .rabit_s5 span.txt_top{right: 0;top: 10px;-webkit-animation: opacityText 1500ms linear 1500ms backwards;}
.screen_5 .rabit_s5 span.txt_bottom{left: 40px;bottom: 20px;-webkit-animation: opacityText 1500ms linear 2000ms backwards;}