@charset "utf-8";
body{background-color: #ccc;}
.globalWrap{background-color: #ccc;height: 100%;position: relative;}
.viewport{height: 100%;position: absolute;overflow: hidden;left: 0;top: 0;width: 100%;}
.screen_1{height: 100%;position: relative;background: linear-gradient(to bottom,rgba(78,170,200,1),rgba(249,141,97,1));}
.tbtSayHi{width: 143px;padding: 10px;border-radius: 10px;background: rgba(247,251,208,0.24);color: #fff;position: relative;left: 15px;top: 30px;line-height: 20px;font-size: 16px;box-sizing: content-box;}
.tbtSayHi h2{-webkit-animation: 1.8s tbtSayHi linear;}
.tbtSayHi h2 span{font-size: 36px;}
.tbtSayHi img{position: absolute;right: 30px;bottom: -30px;}
.opacity_scn1{-webkit-animation: opacity_scn1 0.8s ease-in-out;}
.screen_1 figure{position: absolute;right: 0;bottom: 0;z-index: 11;}
.screen_1 figure img{width: 16.66rem;}
.bottomArrow{position: absolute;bottom: 0;left: 0;width: 100%;z-index: 10;text-align: center;-webkit-animation: bottomArrow .5s linear infinite alternate;}
.bottomArrow img{width: 45px;}
.screen_1 .scrBg{position: absolute;bottom: -4px;left: 0;}
.screen_1 .scrBg img{width: 100%;}
.screen_1 .cloud{position: relative;margin-top: 40px;}
.screen_1 .cloudAnimate{-webkit-animation: cloudMove 10s linear infinite;}
.screen_1 .cloud img{opacity: .15;position: absolute;}
.screen_1 .cloud img:nth-of-type(1){width: 62px;left: 15px;bottom: -80px;}
.screen_1 .cloud img:nth-of-type(2){width: 106px;left: 80px;bottom: -50px;}

.screen_2{background-color: #999;height: 100%;}