@charset "utf-8";
body{background-color: #ccc;}
.globalWrap{background-color: #ccc;height: 100%;position: relative;}
.viewport{height: 100%;position: absolute;overflow: auto;left: 0;top: 0;width: 100%;}
.screen_1{height: 100%;position: relative;background: linear-gradient(to bottom,rgba(78,170,200,1),rgba(249,141,97,1));}
.tbtSayHi{width: 143px;padding: 10px;border-radius: 10px;background: rgba(247,251,208,0.24);color: #fff;position: relative;left: 15px;top: 30px;line-height: 20px;font-size: 16px;box-sizing: content-box;}
.tbtSayHi h2{-webkit-animation: 1.8s tbtSayHi linear;}
.tbtSayHi h2 span{font-size: 36px;}
.tbtSayHi img{position: absolute;right: 30px;bottom: -30px;}
.opacity_scn1{-webkit-animation: opacity_scn1 0.8s ease-in-out;}
.screen_1 figure{position: absolute;right: 0;bottom: 0;z-index: 11;}
.screen_1 figure img{width: 16.66rem;}
.bottomArrow{position: absolute;bottom: 0;left: 0;width: 100%;z-index: 10;text-align: center;-webkit-animation: bottomArrow .5s linear infinite alternate;}
.bottomArrow img{width: 45px;}
.screen_1 .scrBg{position: absolute;bottom: -4px;left: 0;width: 100%;}
.screen_1 .scrBg img{width: 100%;}
.screen_1 .cloud{position: relative;margin-top: 40px;}
.screen_1 .cloudAnimate{-webkit-animation: cloudMove 10s linear infinite;}
.screen_1 .cloud img{opacity: .15;position: absolute;}
.screen_1 .cloud img:nth-of-type(1){width: 62px;left: 15px;bottom: -80px;}
.screen_1 .cloud img:nth-of-type(2){width: 106px;left: 80px;bottom: -50px;}

.screen_2{background: linear-gradient(0,rgba(78,170,200,1),rgba(249,141,97,1));height: 100%;position: relative;}
.screen_2 .common{height: 100%;overflow: hidden;position: relative;}
.screen_2 .scr_top{margin: 40px auto 15px;width: 292px;color: #fefbe2;font-size: 16px;line-height: 20px;}
.screen_2 .scr_top span{font-size: 18px;}
.screen_2 .scr_center{position: relative;background: rgba(247,251,208,0.24);width: 278px;height: 278px;border-radius: 139px;margin: 30px auto 0;padding: 20px;}
.screen_2 .innerCircle{background: rgba(247,251,208,0.24);width: 238px;height: 238px;border-radius: 119px;position: relative;}
.screen_2 .innerCircle img:nth-of-type(1){width: 150px;margin: 0 auto;display: block;padding-top: 44px;}
.screen_2 .innerCircle img:nth-of-type(2){width: 32px;position: absolute;right: 78px;top: 105px;}
.screen_2 .circleCity{position: absolute;left: 20px;top: 10px;}
.screen_2 .circleCity img{width: 238px;}
.screen_2 .bottomText{position: absolute;bottom: 40px;left: 0;text-align: center;color: #fff;font-size: 16px;width: 100%;line-height: 20px;}

.screen_2 .animate .scr_center{-webkit-animation: scale1 1s ease-out 1s backwards;}
.screen_2 .animate .innerCircle{-webkit-animation: scale1 1.5s ease-out 1s backwards;}
.screen_2 .animate .earth{-webkit-animation: scale1 2.5s ease-out 1s backwards;}
.screen_2 .animate .circleCity{-webkit-animation: circleCity .3s ease-out 2.5s backwards;}
.screen_2 .animate .bottomText{-webkit-animation: opacityText 1.5s 3.5s backwards;}
.screen_2 .animate .innerCircle .tz{-webkit-animation: scale1 1s ease-out 1s backwards;}

.screen_3{height: 100%;position: relative;background: linear-gradient(to bottom,rgba(78,170,200,1),rgba(249,141,97,1));}
.screen_3 .rabitRun{width: 309px;height: 364px;background: url(http://img.to8to.com/wap/weixin/run.png) 0 0 no-repeat;-webkit-transform: scale(.65);position: absolute;bottom: -30px;left: 50%;margin-left: -150.45px;z-index: 10;}
.screen_3 .animate .rabitRun{-webkit-animation: rabitRun 650ms step-start infinite;}
.screen_3 .cityBg{background: url(http://img.to8to.com/wap/weixin/bg.png) 0 0 no-repeat;width: 100%;height: 61px;position: absolute;bottom: 80px;}
.screen_3 .animate .cityBg{-webkit-animation: cityBg 3500ms step-start infinite;}
.screen_3 .tips{padding-top: 50px;text-align: center;color: #fcfce5;}
.screen_3 .tips p{font-size: 26px;font-weight: bolder;margin-bottom: 5px;}
.screen_3 .tips span{font-size: 16px;margin-top: 33px;display: block;}
.screen_3 .cloud img{height: 106px;position: absolute;z-index: 1;opacity: .15;left: 45px;top: 100px;}
.screen_3 .animate .cloud img{-webkit-animation: cloudMove 10s linear infinite;}


@media screen and (max-height: 760px) and (min-height: 621px){
	.screen_2 .scr_center{margin-top: 32%;}
}